.button-block{
  text-align: center;
}

.button-block button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.button-block button:hover,
.button-block button:active {
  background-color: #510674;
  border-color: #510674;
}

.button-block button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button-block button.alternative:hover,
.button-block button.alternative:active {
  background-color: #ddb3f8;
}